{% extends 'base.html' %}
{% block body%}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Keep Notes</h1>
            <p class="lead text-muted">This is a note keeping app built with Django</p>
            <p>
              <a href="{% url 'notes:register' %}" class="btn btn-primary my-2">Create an account</a>
              <a href="{% url 'notes:login' %}" class="btn btn-secondary my-2">Login</a>
            </p>
          </div>
        </div>
      </section>
{% endblock body%}

