{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}    
    <div class="container">
        <div class="form">
            <h3 class="text-primary">Account Settings</h3>
            {% if messages %}
                
            {% for message in messages %}
                <p class="alert alert-{{message.tags}}">{{message}}</p>
            {% endfor %}
                
        {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                {{form |crispy}}
                <button type="submit" class="btn-info btn">Save</button>
            </form>
    </div>
    </div>    
{% endblock body %}

